.hero {
    display: flex;
    flex-direction: row;
    article {
        flex-grow: 1;
        max-width: 700px;
    }
}
.wiki-link {
    margin-left: 70px;
    color: white;
}
figcaption {
    max-width: 300px;
}
@media (max-width: 700px) {
    .hero {
        flex-direction: column;
    }
    aside {
        margin: 0 auto;
    }
}
