<section id="page-heading">
  <h1 class="center-element">Final Fantasy</h1>
  <p class="center-element"><i>The game that defined a genre (for me at least)</i></p>
</section>
<section id="main-content">
  <md-card class="hero">
    <aside>
      <figure>
        <img src="assets/FF1_USA_boxart.jpg" alt="">
        <figcaption>Original Final Fantasy North American cover art (from Wikipedia)</figcaption>
      </figure>
      <a md-raised-button color="accent" class="wiki-link" href="https://en.wikipedia.org/wiki/Final_Fantasy#Main_series">Read more on Wikipedia</a>
    </aside>
    <article>
      <h1>Final Fantasy hooked me on RPGs</h1>
      <p>I'd played games before FF. I know I'd played in arcades and there were games there that hooked me. I'd had older consoles
        (Atari 2600 anyone). But it wasn't until Final Fantasy that I found the genre of games that would keep me hooked
        for decades. </p>
      <h2>My Favorites</h2>
      <ul>
        <li>Final Fantasy 1</li>
        <li>Final Fantasy 2</li>
        <li>Final Fantasy 7</li>
      </ul>
      <h2>My Least Favorites</h2>
      <ul>
        <li>Final Fantasy XI: Online</li>
        <li>Final Fantasy XIV: Online</li>
        <li>Final Fantasy XV</li>
      </ul>
      <h2>Chronology</h2>
      <ul>
        <li>1987 Final Fantasy</li>
        <li>1988 Final Fantasy II</li>
        <li>1990 Final Fantasy III</li>
        <li>1991 Final Fantasy IV</li>
        <li>1992 Final Fantasy V</li>
        <li>1994 Final Fantasy VI</li>
        <li>1997 Final Fantasy VII</li>
        <li>1999 Final Fantasy VIII</li>
        <li>2000 Final Fantasy IX</li>
        <li>2001 Final Fantasy X</li>
        <li>2002 Final Fantasy XI</li>
        <li>2006 Final Fantasy XII</li>
        <li>2009 Final Fantasy XIII</li>
        <li>2010 Final Fantasy XIV</li>
        <li>2016 Final Fantasy XV</li>
      </ul>
    </article>
  </md-card>
</section>