/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';
@include mat-core();

$app-primary: mat-palette($mat-blue-grey);
$app-accent:  mat-palette($mat-amber, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width:0;
  min-height:0;
}


.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  order: 1;
  flex-shrink: 0;
}

main {
  order: 2;
  flex: 1;
  overflow: auto;
  padding: 0 16px;
}

footer {
  order: 3;
  flex-shrink: 0;
}

.fill {
  display: flex;
  flex: 1 1 auto;
}
.heading {
    margin-top: 30px;

}
.recipes {
  display: flex;
  flex-wrap: wrap;  
  md-card {
      width: 300px;
      min-width: 300px;
      margin: 30px;
      flex: 1;
      justify-content: space-between;
  }
}
md-card-header, md-card-content {
    font-weight: 500;
    color: #656565;
}
md-card-content {
    min-height: 150px;
}
md-card-footer {
    display: flex;
    flex-direction: row;
    button {
        flex: 1;
        justify-content: space-between;
    }
}
